.home {
    width: 98vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 800px auto;
    direction: rtl;
    background-image: url('../../assets/fa2.svg');
    background-repeat: no-repeat;
    background-position: 20px 10px;
}

.home > div {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    direction: ltr;
    background-color: rgba(0,0,0,0);
}

.home > div > div > p {
    font-size: 130px;
    font-weight: bold;
    color: white;
    margin: 0;
    text-align: right;
    background-color: rgba(0,0,0,0);
    filter: brightness(1);
    transition: 2s;
}

.home > div > div > a > p {
    font-size: 130px;
    font-weight: bold;
    color: white;
    margin: 0;
    text-align: right;
    background-color: rgba(0,0,0,0);
    filter: brightness(1);
    transition: 2s;
}

.home > div > div:not(:first-child) > p {
    color: #DEBB00;
}

.home > div > div:not(:first-child) > a > p {
    color: #DEBB00;
}

.home > div > div > a > p:hover {
    transform: translateX(-70px);
}

.clickable {
    transition: .1s;
    cursor: pointer;
    filter: brightness(1.2) !important;
}

.navs {
  display: flex !important;
  background-color: transparent;
  justify-content: flex-end;
  color: #DEBB00;
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin-top: 15px;
  font-size: 24px;
  border: none;
}

.nonavs {
  display: flex !important;
  background-color: transparent;
  justify-content: flex-end;
  color: #DEBB00;
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin-top: 15px;
  font-size: 24px;
  border: none;
  opacity: 0;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
    .home {
        grid-template-columns: 10% auto;
    }
    .home > div > div > p {
        font-size: 60px;
    }
}


@media only screen and (max-width: 425px) {
  .home {
    background-size: 120px;
    background-position: 20px 24px;
  }
  .navs {
    font-size: 16px;
  }
}