.portfolio {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio > nav {
  align-self: flex-start;
}

.portfolio > nav span {
  color: #DEBB00 !important; 
}


@media only screen and (max-width: 768px) {
  .portfolio {
    padding: 24px;
  }
  .portfolio > nav {
    align-self: unset;
  }
}